<form #vinylForm="ngForm" (ngSubmit)="submitToSave()">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input required name="name" matInput placeholder="Nom" [(ngModel)]="item.nom" />
        <mat-icon matSuffix>{{ inputIcon() }}</mat-icon>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Date de sortie</mat-label>
        <input name="releaseDate" matInput [matDatepicker]="picker" [(ngModel)]="item.releaseDate" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button mat-flat-button [disabled]="! vinylForm.form.valid">Sauvegarder</button>
    </div>
  </div>
</form>
