<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToUrl('')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item (click)="goToUrl('vinyls')">
    <mat-icon>album</mat-icon>
    <span>Mes albums</span>
  </button>

  <button mat-menu-item (click)="goToUrl('vinyls/create')">
    <mat-icon>album</mat-icon>
    <span>Nouveau</span>
  </button>

  <button mat-menu-item (click)="goToUrl('vinyl-categories/create')">
    <mat-icon>category</mat-icon>
    <span>Nouvelle catégorie</span>
  </button>
</mat-menu>
